<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />  
	<meta name="keywords" content=" " />  
	<meta name="description" content=" " />
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/material-purchase.css">
	<script src="js/jquery-1.8.1.min.js"></script>
	<title>材料求购</title>
	<script th:inline="javascript">
		var contextPath = [[${#request.getContextPath()}]];
	</script>
	<script>
		$(function () {
			$("#navigation").load(contextPath + "/navigation");
			$("#confirm").click(function () {
				$.post(contextPath + "/account/accountSale",
						$("#accountForm").serialize(),
						function (data) {
							if(data.flag){
								window.location.replace(contextPath + "/account/success");
							}else{
								alert("上架失败！");
							}
						},"json")
				// $.post(contextPath + "/account/accountSale",
				// 		$("#accountForm").serialize(),
				// 		function (data) {
				// 			alert("dian")
				// 			window.location.replace(contextPath + "/account/success");
				// 		},"json")
			});
		})
	</script>
</head>
<body>
	<div class="header fl" id="navigation"></div>

	<div class="content clearfix fl">
		<div class="wrapper clearfix">
			<div class="title-b t-c">
				材料求购
			</div>
			<div class="alert-bar">
				<div class="icon">
					<img src="images/icon.png" alt="">
				</div>
				<div class="alert-con">
					<ul>
						<li>温馨提示：</li>
						<li>1.请输入正确的账号和密码</li>
						<li>2.请勿透露密保信息，以免造成损失</li>
						<li>3.账号出租期间承租方如有损害账号的行为，平台概不负责</li>
						<li>4.请确认出租价格，价格单位是元/小时</li>
					</ul>
				</div>
			</div>
			<div class="item-area">
				<div class="area-tit-w">
					<div class="area-tit">
						填写商品信息
					</div>
				</div>
				<div class="item-area-alert t-c">
					为了帮助您更快的买到商品，请仔细填写以下信息
				</div>

			</div>
			<form action="#" method="post" id="accountForm">
			<div class="material-form">
				<div class="m-name m-text">
					<span>输入游戏账号：</span>
					<input type="text" class="m-input" id="username" name="username">
				</div>
				<br>
				<br>
				<div class="m-name m-text">
					<span>输入游戏密码：</span>
					<input type="text" class="m-input" id="password" name="password">
				</div>
<!--				<div class="item-amount fl">-->
<!--					<span class="star">＊</span><span class="r-text">出租单价(元/小时)：</span>-->
<!--					<input type="text" name="money" id="money" class="r-a-input">-->
<!--				</div>-->
				<br>
				<br>
				<div class="m-name m-text">
					<span>出租单价(元/小时)：</span>
					<input type="text" class="m-input" id="money" name="money">
				</div>
				<div class="m-name m-text m-textarea-w">
					<span class="fl">简介：</span>
					<textarea name="descript" id="descript" cols="30" rows="10" class="m-textarea"></textarea>
				</div>
				<div class="confirm-btn-w">
					<input class="confirm-btn" id="confirm" name="confirm" type="button" value="确认无误，立即发布">
				</div>
			</div>
			</form>
			<div class="icon-tab">
				<div class="icon-w">
					<div class="icon-list icon1">
						售寄担保 无货保赔
					</div>
					<div class="icon-list icon2">
						安全服务 保障资金
					</div>
					<div class="icon-list icon3">
						7*24小时 专属客服
					</div>
					<div class="icon-list icon4">
						权威认证 安全可信
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>