<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-1.8.1.min.js" th:src="@{/js/jquery-1.8.1.min.js}"></script>
</head>
<body>
<div class="wrapper detail-wrapper clearfix">
    <!-- 商品详情 -->
    <div class="details fl">
        <!-- 商品信息 -->
        <div class="item-info fl">
            <!-- 左侧商品图片 -->
            <div class="item-img fl">
                <div class="img-big">
                    <img src="" alt="" th:src="@{/images/1.jpg}">
                </div>
                <div class="img-sm">
                    <ul>
                        <li class="active"><img src="images/test.jpg" alt="" th:src="@{/images/1.jpg}"></li>
                        <li><img src="images/detail-img.jpg" alt="" th:src="@{/images/1.jpg}"></li>
                        <li><img src="images/tes.jpg" alt="" th:src="@{/images/1.jpg}"></li>
                    </ul>
                </div>
            </div>
            <!-- 右侧商品详情 -->
            <div class="item-info-panel fl">
                <!-- 商品名称 -->
                <div class="item-title">
                    安徽三区搬砖号
                </div>
                <div class="item-info-wrapper">
                    <div class="alert">
                        凡商品的信息，图片中带联系信息的均是骗子，请谨慎防范！
                    </div>
                    <div class="price">
                        <span>商品价格:</span><span>￥10/H</span>
                    </div>
                    <div class="item-i-list">
                        <span>商品编号：</span><span>95655</span>
                    </div>
                    <div class="item-i-list">
                        <span>游戏区服：</span><span>安徽区/安徽3区（跨四）</span>
                    </div>
                    <div class="item-i-list">
                        <span>诚信保证：</span><span>账号商品</span>
                    </div>
                    <div class="item-i-list">
                        <span>交易前请认准官方联系方式</span>
                    </div>
                    <div class="amount">
                        <span>购买时长：</span>
                        <span class="amount-btn " id="minus">-</span>
                        <span id="amount">1</span>
                        <span  class="amount-btn" id="plus">+</span>
                    </div>
                    <a href="" >
                        <div class="buy-btn">
                            立即购买
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 商品介绍 -->

    </div>
    <!-- 卖家信息 -->
    <!--
    <div class="right-panel fr">
        <div class="seller fl">
            <div class="seller-info">
                <div class="seller-profile">
                    <img src="images/icon/profile.png" alt="">
                </div>
                <div class="seller-credit">
                    <span>卖家信誉：</span>
                    <ul class="seller-comment ">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="success-order status">
                    <span>成交订单：&nbsp;&nbsp;</span><span>258笔</span>
                </div>
                <div class="cancel-order status">
                    <span>取消订单 &nbsp;&nbsp;</span><span>11笔</span>
                </div>
                <div class="percent status">
                    <span>成交概率 &nbsp;&nbsp;</span><span>99%</span>
                </div>
            </div>
        </div>
    </div>
    -->
    <div class="item-intro fl">
        <!-- tab切换 -->
        <div class="intro-nav">
            <ul class="nav-wrapper">
                <li class="active">商品介绍</li>
                <li>官方审核</li>
                <li>售后服务</li>
            </ul>
        </div>
        <div class="intro-tabs">
            <div class="tab tab1">
                <img src="images/TB2Z_1YcfQs8KJjSZFEXXc9RpXa-126446588.jpg" alt="" th:src="@{/images/TB2Z_1YcfQs8KJjSZFEXXc9RpXa-126446588.jpg}">
                <img src="images/TB2lOARhmfD8KJjSszhXXbIJFXa-126446588.jpg" alt="" th:src="@{/images/TB2lOARhmfD8KJjSszhXXbIJFXa-126446588.jpg}">
            </div>
            <div class="tab tab2" style="display: none;">
                tab2
            </div>
            <div class="tab tab3" style="display: none;">
                tab3
            </div>
        </div>
    </div>
    <div class="recommend">
        <div class="r-tit">
            商品推荐
        </div>
        <div class="r-list fl">
            <div class="r-img fl">
                <img src="images/wbm.png" alt="">
            </div>
            <div class="r-text-c fr">
                <span><a href="">广东二区超大陆恍惚二神器天空红眼+10个搬砖号</a></span>
                <span class="r-price">￥2588</span>
            </div>
        </div>
        <div class="r-list fl">
            <div class="r-img fl">
                <img src="images/wbm.png" alt="">
            </div>
            <div class="r-text-c fr">
                <span><a href="">广东二区超大陆恍惚二神器天空红眼+10个搬砖号</a></span>
                <span class="r-price">￥2588</span>
            </div>
        </div>
        <div class="r-list fl">
            <div class="r-img fl">
                <img src="images/wbm.png" alt="">
            </div>
            <div class="r-text-c fr">
                <span><a href="">广东二区超大陆恍惚二神器天空红眼+10个搬砖号</a></span>
                <span class="r-price">￥2588</span>
            </div>
        </div>
        <div class="r-list fl">
            <div class="r-img fl">
                <img src="images/wbm.png" alt="">
            </div>
            <div class="r-text-c fr">
                <span><a href="">广东二区超大陆恍惚二神器天空红眼+10个搬砖号</a></span>
                <span class="r-price">￥2588</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>