<!--
	Author: W3layouts

-->

<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录和注册</title>
    <link rel="stylesheet" href="css/_style.css"  th:href="@{/css/_style.css}">
    <link href="css/popup-box.css" rel="stylesheet" type="text/css" media="all" th:href="@{/css/popup-box.css}"/>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sign In And Sign Up Forms  Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function()
    { setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar(){ window.scrollTo(0,1); }
    </script>

    <script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="js/jquery.validate.min.js" th:src="@{/js/jquery.validate.min.js}"></script>
    <script src="js/jquery.magnific-popup.js" type="text/javascript" th:src="@{/js/jquery.magnific-popup.js}"></script>
    <script type="text/javascript" src="js/modernizr.custom.53451.js" th:src="@{/js/modernizr.custom.53451.js}"></script>
    <script>
        $(document).ready(function() {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <script th:inline="javascript">
        var contextPath = [[${#request.getContextPath()}]];
    </script>
    <script>
        $(function () {
            $.validator.addMethod("registerName",function (value,element,params) {
                var flag = false;
                $.ajax({
                    url:contextPath + "/user/checkUsername",
                    data:{username:value},
                    success:function (data) {
                        flag = data.flag;
                    },
                    dataType:"json",
                    async:false
                })
                return flag;
            });

            $("#login").click(function () {
                var flag =$("#loginForm").valid();
                if(flag){
                    $.post(contextPath + "/user/login",
                        $("#loginForm").serialize(),
                        function (data) {
                            if(data.flag){
                                window.location.replace(contextPath + "/index");
                            }else{
                                $("#errorMsg").html(data.errorMsg);
                            }
                        },"json")
                }
            });

            $("#register").click(function () {
                var flag = $("#registerForm").valid();
                if(flag){
                    $.post(contextPath + "/user/register",
                        $("#registerForm").serialize(),
                        function (data) {
                            if(data.flag){
                                alert("注册成功!");
                                location.href = "login";
                            }else {
                                alert(data.errorMsg);
                            }
                        },"json")
                }

            });

            $("#loginForm").validate({
                rules:{
                    username:{
                        required:true
                    },
                    password:{
                        required:true
                    },
                },
                errorPlacement:function (error,element) {
                    var cls = element.prop("class");
                    if(cls.indexOf('error') > -1){
                        element.css("border","solid 1px #ff0000");
                    }else{
                        element.css("border","");
                    }
                },
                success:function (element) {

                }
            });



            $("#registerForm").validate({
                rules:{
                    username:{
                        required:true,
                        registerName:true
                    },
                    password:{
                        required:true
                    },
                    rePassword:{
                        required:true,
                        equalTo:"#password"
                    },
                    email:{
                        required:true,
                        email: true
                    }
                },
                errorPlacement:function (error,element) {
                    var cls = element.prop("class");
                    if(cls.indexOf('error') > -1){
                        element.css("border","solid 1px #ff0000");
                    }else{
                        element.css("border","");
                    }
                },
                success:function (element) {

                }
            });
        })
    </script>

</head>
<body>
<h1>登录和注册</h1>
<div class="w3layouts">
    <div class="signin-agile">
        <h2>登录</h2>
        <div id="errorMsg" class="alert alert-danger" ></div>
        <form action="#" method="post" id="loginForm">
            <input type="text" name="username" class="name" placeholder="用户名" required="">
            <input type="password" name="password" class="password" placeholder="密码" required="">
            <ul>
                <li>
                    <input type="checkbox" id="brand1" value="">
                    <label for="brand1"><span></span>记住密码</label>
                </li>
            </ul>
            <a href="#">忘记密码?</a><br>
            <div class="clear"></div>
            <input type="button" value="登录" id="login">
        </form>
    </div>
    <div class="signup-agileinfo">
        <h3>注册</h3>
        <p>用户注册并激活成功后，便成为zqb游戏账户租赁网站的正式用户，正式用户拥有网站规定用户所应享有的一切权限。用户将获得一个用户名和密码，用户对自己的用户名、密码及帐号安全性负全部责任。用户同意，若发现任何非法使用帐号、密码或存在安全漏洞等其它有损用户利益的情况，应立即通知经营者。每个用户都应对以其用户名进行的所有活动和事件负全部责任。</p>
        <div class="more">
            <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog">点击注册</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="footer-w3l">
    <p class="agileinfo">
    </p>`
</div>
<div class="pop-up">
    <div id="small-dialog" class="mfp-hide book-form">
        <h3>注册表单 </h3>
        <form action="#" method="post" id="registerForm">
            <input type="text" name="username" id="username" placeholder="用户名" required=""/>
            <input type="text" name="email" id="email" class="email" placeholder="邮件" required=""/>
            <input type="password" name="password" id="password" class="password" placeholder="密码" required=""/>
            <input type="password" name="rePassword" id="rePassword" class="Password" placeholder="重复密码" required=""/>
            <input type="radio" id="sex" name="sex" value="男" checked>男 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="sex" value="女"> 女
            <input type="button" value="点击注册" id="register">
        </form>
    </div>
</div>
</body>
</html>