<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script th:inline="javascript">
    var contextPath = [[${#request.getContextPath()}]];
</script>
<script>

    $(function () {
        $.ajax({
            url:contextPath +"/user/isLogin",
            data:{},
            dataType:"json",
            async:false,
            success:function (data) {
                if (data.flag){
                    $("#loginInfo").html("<div class=\"order\">\n" +
                        "            <a href=\"/rental/center\"><p>个人中心</p></a>\n" +
                        "        </div>\n" +
                        "        <div class=\"login\">\n" +
                        "            <a href=\"/rental/user/logout\"><p>退出登录</p></a>\n" +
                        "        </div>")
                } else {
                    $("#loginInfo").html("<div class=\"register\">\n" +
                        "            <a href=\"/rental/login\"><p>免费注册</p></a>\n" +
                        "        </div>\n" +
                        "        <div class=\"login\">\n" +
                        "            <a href=\"/rental/login\"><p>登录</p></a>\n" +
                        "        </div>")
                }
            }
        });
    })
</script>
<body>
<div class="wrapper clearfix">
    <ul class="nav">
        <li class="active"><a href="/rental/index">首页</a></li>
        <li><a target="_blank" href="/rental/account-deal" th:src="@{/rental/account-deall}">账号交易</a></li>
        <li><a target="_blank" href="/rental/account-purchase" th:src="@{/rental/account-purchase.html}">账号出租</a></li>
<!--        <li><a target="_blank" href="material-deal.html" th:src="@{/rental/material-deal.html}">材料交易</a></li>-->
<!--        <li><a target="_blank" href="material-seller.html" th:src="@{/rental/material-seller.html}">材料求购</a></li>-->
<!--        <li><a target="_blank" href="">金币交易</a></li>-->
<!--        <li><a target="_blank" href="">二手电脑</a></li>-->
    </ul>

    <div class="user-info" id="loginInfo">

        <!-- 我的订单 -->
<!--        <div class="register">-->
<!--            <a href=""><p>免费注册</p></a>-->
<!--        </div>-->
<!--        <div class="login">-->
<!--            <a href="/rental/login"><p>登录</p></a>-->
<!--        </div>-->
<!--        <div class="order">-->
<!--            <a href="/rental/center"><p>个人中心</p></a>-->
<!--        </div>-->
<!--        <div class="login">-->
<!--            <a href="/rental/user/logout"><p>退出登录</p></a>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>