<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />  
	<meta name="keywords" content=" " />  
	<meta name="description" content=" " />
	<link rel="stylesheet" href="css/reset.css" th:href="@{/css/reset.css}">
	<link rel="stylesheet" href="css/common.css" th:href="@{/css/common.css}">
	<link rel="stylesheet" href="css/success.css" th:href="@{/css/success.css}">
	<title>发布成功</title>
	<script src="js/jquery-1.8.1.min.js" th:src="@{/js/jquery-1.8.1.min.js}"></script>
	<script th:inline="javascript">
		var contextPath = [[${#request.getContextPath()}]];
	</script>
	<script>
		$(function () {
			$("#navigation").load(contextPath + "/navigation");
		})
	</script>
</head>
<body>
	<!-- 顶部导航 -->
	<div class="header fl" id="navigation"></div>

	<div class="content">
		<div class="wrapper clearfix">
			<div class="b-tit">
				发布商品
			</div>
			<div class="alert-card">
				<div class="info-c">
					<div class="a-text1">
						恭喜，商品发布完成！
					</div>
					<div class="a-text2 t-c1">
						感谢您选择本网站出售商品，预祝您的商品尽快成交
					</div>
					<div class="a-text2 t-c2">
						为保障交易安全，请您不要在游戏内泄露手机号，QQ号等个人信息，谨防诈骗
					</div>
					<div class="btn">
						继续发布
					</div>
				</div>
				
			</div>
			<div class="alert-text-w">
				<div class="s-t">
					虚拟网游交易提示
				</div>
				<div class="t-content">

					<span>1.购买周边成功之后，什么时候能拿到周边？</span>
					<span>订单付款成功之后，7881将陆续通过快递物流发货，您可以通过个人中心-已购买的商品查询订单详情进度</span>
				</div>
				<div class="t-content">

					<span>2.物流时间？</span>
					<span>根据目的地不同，周边到货的时间各有不同，详情可通过物流单号进行每日查询</span>
				</div>
				<div class="t-content">

					<span>3.发货短信是否收费？</span>
					<span>为了便于您及时了解发货信息，我们会在你您购买的周边发货后给予免费短信通知，请注意查收</span>
				</div>
				<div class="t-content">

					<span>4.没收到货，或者商品损坏怎么办？</span>
					<span>如果没收到货，或者商品损坏，请联系zqb官方客服电话：1234567</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>